In [2]:
import MySQLdb
db = MySQLdb.connect("localhost", "root", "root", "house")
db.set_character_set('utf8')
cursor = db.cursor()
sql = "select link from link_list where status = 1 limit 1"
cursor.execute(sql)
results = cursor.fetchall()
print results

(('http://bj.lianjia.com/chengjiao/p1a1l1sf1lc1f1pg1',),)

In [ ]:
昌平与西城是否满5的分布

In [37]:
SQL = "select region, five, count(*)  \
      from ods_house_da where region = 'BJXC' or region ='BJCP' group by region, five"
cursor.execute(SQL)
results = cursor.fetchall()
print "地区\t类型\t数量"
for i in results:
    if i[0] == 'BJCP':
        print '昌平\t',
    else:
        print '西城\t',
    if i[1] == 0:
        print '不满五\t',
    else:
        print '满五\t',
    print i[2]

地区	类型	数量
昌平	不满五	2531
昌平	满五	2271
西城	不满五	2337
西城	满五	4243

In [ ]:
西城与昌平的均价差别

In [ ]:
SQL = "select region, five, struct, avg(totalPrice), avg(totalPrice/square)  \
      from ods_house_da where region = 'BJXC' or region ='BJCP' group by region,struct, five"
cursor.execute(SQL)
results = cursor.fetchall()
print "地区\t类型\t格局\t均总价\t均单价"
for i in results:
    if i[0] == 'BJCP':
        print '昌平\t',
    else:
        print '西城\t',
    if i[1] == 0:
        print '不满五\t',
    else:
        print '满五\t',
    print i[2] + '\t' + str(round(i[3],2)) + '\t' + str(round(i[4],2))

地区	类型	格局	均总价	均单价
昌平	不满五	1室0厅	129.94	2.97
昌平	满五	1室0厅	154.95	3.61
昌平	不满五	1室1厅	155.68	2.77
昌平	满五	1室1厅	172.35	3.01
昌平	不满五	1室2厅	159.0	2.71
昌平	满五	1室2厅	190.29	3.05
昌平	不满五	2室0厅	134.91	2.69
昌平	满五	2室0厅	135.14	2.52
昌平	不满五	2室1厅	175.4	2.88
昌平	满五	2室1厅	168.43	2.73
昌平	不满五	2室2厅	180.2	3.52
昌平	满五	2室2厅	189.86	2.82
昌平	不满五	3室0厅	84.5	1.5
昌平	满五	3室0厅	134.5	2.5
昌平	不满五	3室1厅	206.09	3.49
昌平	满五	3室1厅	167.56	2.55
昌平	不满五	3室2厅	117.33	1.95
昌平	满五	3室2厅	83.5	1.56
西城	不满五	1室0厅	173.61	5.25
西城	满五	1室0厅	201.98	5.61
西城	不满五	1室1厅	214.96	5.28
西城	满五	1室1厅	255.37	6.16
西城	不满五	1室2厅	156.8	2.89
西城	满五	1室2厅	186.88	3.59
西城	不满五	2室0厅	236.25	5.92
西城	满五	2室0厅	285.6	6.32
西城	不满五	2室1厅	215.75	4.44
西城	满五	2室1厅	249.74	5.1
西城	不满五	2室2厅	193.0	4.86
西城	满五	2室2厅	266.0	5.31
西城	不满五	3室0厅	189.0	3.25
西城	满五	3室0厅	262.5	4.76
西城	不满五	3室1厅	178.64	3.22
西城	满五	3室1厅	190.15	3.49

In [ ]:
import pandas as pd
SQL = "select dealDate, region, avg(totalPrice), avg(totalPrice/square) from ods_house_da where region = 'BJXC' or region = 'BJCP' group by dealDate, region limit 10;"
cursor.execute(SQL);
rows = cursor.fetchall()
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'date', 1: 'region', 2: 'price', 3: 'pricePerA'}, inplace=True)
print df

In [ ]:
import pylab as pl
x = range(10)
y = [i*i for i in x]
pl.plot(x, y)
pl.show()